.row {
    height: 100%;

    .justify-content-md-center {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.board {
    border: 2px lightgray solid;
    border-radius: 2px;
}

.col-4:not(:nth-child(3)) {
    border-right: 2px solid gray;
}

h2 {
    border-bottom: 2px solid gray;
}

.new-task:hover {
    cursor: pointer;
    border-color: green;
    color: green;
}
